[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
python-dotenv = "*"
langchain-community = "*"
beautifulsoup4 = "*"
langchain-pinecone = "*"
ollama = "*"
langchainhub = "*"
streamlit = "*"
streamlit-chat = "*"

[dev-packages]

[requires]
python_version = "3.12"
